<!DOCTYPE html>
<html>
	<head>
		<title>Blockchain</title>
		<style type="text/css">
			body {
				display: flex;
				align-items: center;
				flex-direction: column;
				min-height: 100vh;
				font-family: Arial, sans-serif;
			}
			form {
				padding: 30px 40px;
				border-radius: 4px;
				background-color: #1DA1F2;
				color: #ffffff;
				max-width: 570px;
				width: calc(100% - 10px);
				margin-bottom: 20px;
			}
			p {
				margin: 10px 0;
				display: flex;
				justify-content: space-between;
			}

			input,
			label {
				height: 30px;
				padding: 0;
				border: 0;
				display: flex;
				align-items: center;
				outline: none;
				background: transparent;
			}

			label {
				width: 100px;
			}

			input {
				width: calc(100% - 100px);
				padding: 0 5px;
				border-bottom: 1px solid #ffffff;
			}
			button {
				display: block;
				background: transparent;
				border: 2px solid #ffffff;
				color: #ffffff;
				margin-top: 20px;
				outline: none;
				padding: 15px;
			}

			#add {
				margin-left: auto;
   				margin-right: 20px;
			}

			button:hover {
				cursor: pointer;
			}

			pre {
				padding: 10px;
			}

			pre:nth-child(2n) {
			    background: #e2e2e2;
			    border-radius: 4px;
			}
		</style>
	</head>
	<body>
		{{{body}}}
	</body>
	<script
		src="https://code.jquery.com/jquery-3.3.1.js"
		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
		crossorigin="anonymous"></script>
	
	<script type="text/javascript">
		$(function(){
			$('#add').on('click', function(e){
				e.preventDefault();

				var data = {
					user:  $('#user').val(),
					value: $('#value').val()
				}

				$.ajax({
					type: 'POST',
					data: JSON.stringify(data),
			        contentType: 'application/json',
                    url: 'http://localhost:3000/endpoint',						
                    success: function(data) {
                        $('#view').trigger('click');
                    }
				})
			});

			$('#view').on('click', function(e){
				e.preventDefault();

				$.ajax({
					type: 'POST',
                    url: 'http://localhost:3000/view',	
                    dataType: 'json',					
                    success: function(data) {
                    	var section = $('.blockchain-list');
                    	section.text('');

                    	if(data.error) {
                    		section.text(data.error)
                    	} else {
                    		for(var i = data.length - 1; i >= 0; i--) {
                        		section.append('<pre>' + JSON.stringify(data[i], null, 4) + '</pre>')
	                        }
	                    }
                    }
				})
			});

			$('#validate').on('click', function(e){
				e.preventDefault();

				$.ajax({
					type: 'POST',
                    url: 'http://localhost:3000/validate',	
                    dataType: 'json',					
                    success: function(res) {
                    	var section = $('.blockchain-list');
                    	section.text(res.message);
                    }
				})
			});

		});
	</script>
</html>