<form class="data-form">
	<p>
		<label>Enter User:</label>
		<input type="text" name="user" id="user">
	</p>
	<p>
		<label>Enter Value:</label>
		<input type="text" name="value" id="value">
	</p>
	<p>
		<button id="validate">Validate Blockchain</button>
		<button id="add">Add To Blockchain</button>
		<button id="view">View Blockchain</button>
	</p>
</form>

<section class="blockchain-list"></section>
